body{
    background-color:black;
    color: white;
    justify-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    padding: 5px;
    bottom: 0;
    width: 100%;
}

#footer {
    padding-bottom: 10px;
}

.container {
    font-family: fantasy;
}

.carousel {
    font-family: fantasy;
}

.card{
    color: white;
}

.navbar{
    font-family: fantasy;
    color: gray;
}